__pycache__/
*.log
*.npy
*.png
*.svg
logs/
models/
ExFlow/placement_results/
ExFlow/figs/
output/

expert_placement/
dataset/gigaword
affinity_figs/
expert_trace/

test_placement/

inference_time_figs/

test_affinity_debug/
nsys/
DCtest/
inference_time/

Occult_test/
different_tasks/
