__pycache__/
*.log
models/
placement_results/
output/
dataset/
affinity_figs/
communication_figs/
expert_trace/
expert_placement/
graph/
cluster_result/spectral/figs/
test_placement/
logs/
inference_time_figs/
*.png