__pycache__/
*.log
*.npy
logs/
models/
output/
dataset/gigaword
expert_trace/
Accelerator_test/expert_trace/
Accelerator_test/test_placement/
Accelerator_test/inference_time_figs/
Accelerator_test/inference_time/
Accelerator_test/test_affinity_debug/
Accelerator_test/nsys/
DCtest_sim/OLMoE/
ExFlow/placement_results/
ExFlow/different_tasks/
ExFlow/figs/



